:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; 
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  gap: 1.5rem;
  background: #ffe9d4;
  padding: 1rem 2rem;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 8px rgba(177, 144, 122, 0.1);
}

.navbar a {
  color: #ee6516;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #c03513;
}