Chatbot keys and logs:
.env
variables.env
.\middleware\api.log
.\middleware\chatbot.log
*.log
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
ENV/
*.egg-info/
.eggs/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
.history/

# Logs
logs/
*.log
*.out

# Dependency directories
bower_components/
jspm_packages/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/
.nyc_output/
.pytest_cache/

# Misc
*.swp
*.bak
*.tmp
*.orig
*.rej
